* {
  margin: 0;
  padding:0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: pink;
}

.Book {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
}

.BookContainer {
  background-color: blue;
  height: 96vh;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.Space {
  flex: 1;
}

#ButtonSection {
  display: inline-flex;
}

.DirectionButton {
  flex: 1;
  padding: 20px;
  background: none;
  border: none;
  color: white;
  outline: none;
}

.Pages {
  width: 100%;
  height: auto;
  flex: 9;
  perspective: 960px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.Page-image {
  width: 100%;
  border: none;
}

.Page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;
}

.Page-0 {
  /* background: #f44336; */
}

.Page-1 {
    /* background: #4caf50; */
}

.Page-2 {
  /* background: #2196f3; */
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
