* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: pink;
}

.Book {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
}

.Loading-page {
  background-color: red;
}

.View-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: blue;
}

.View-container--loading {
  /* display: none; */
  background-color: red;
}

.Button-container {
  flex: 2;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  background-color: green;
}

.Page-image {
  height: 95%;
  width: 45%;
  padding-top: 1%;
  border: none;
  position: absolute;
}

.Page-image--remove {
  transform: translateX(-100em);
  transition-duration: 5s;
}

.Page-image--add {
  transform: translateX(0em);
  transition-duration: 2s;
}

.Page {
  position: relative;
  top: 0;
  left: 0;
}

.Page-container {
  top: 0;
  left: 0;
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Direction-button {
  flex: 1;
  border: none;
  outline: none;
  background: none;
}

.Direction-image {
  width: 20%;
  height: auto;
  margin-left: 20%;
  margin-right: 80%;
}

#Direction-image-left {
  margin-top: 30%;
}

#Direction-image-right {
  margin-bottom: 30%;
}

@media screen and (max-width: 1024px) {
  .Page-image {
    height: 80%;
    width: 70%;
  }

  .Page-container {
    flex: 3;
    align-items: flex-end;
    justify-content: center;
  }

  .Button-container {
    flex: 1;
  }

  .Direction-image {
    width: 60%;
    height: auto;
  }
}
