* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: pink;
}

.Book {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: auto;
}

.View-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.Button-container {
  flex: 2;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}

.Page-image {
  height: 95%;
  width: 45%;
  padding-top: 1%;
  border: none;
  position: absolute;
}

.Page-image--remove {
  transform: translateX(-100em);
  transition-duration: 5s;
}

.Page-image--add {
  transform: translateX(0em);
  transition-duration: 2s;
}

.Page {
  position: relative;
  top: 0;
  left: 0;
}

.Page-container {
  top: 0;
  left: 0;
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Page-container--colour {
  background-color: yellow;
}

.Spinner {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.Loading-logo {
  height: auto;
  width: 60%;
}

.Direction-button {
  flex: 1;
  border: none;
  outline: none;
  background: none;
}

.Direction-image {
  width: 20%;
  height: auto;
  margin-left: 20%;
  margin-right: 80%;
}

#Direction-image-left {
  margin-top: 30%;
}

#Direction-image-right {
  margin-bottom: 30%;
}

@media screen and (max-width: 1024px) {
  .View-container {
    flex-direction: column;
    justify-content: center;
  }

  .Page-image {
    width: 80%;
    height: 70%;
  }

  .Page-container {
    flex: 5;
    align-items: center;
    justify-content: center;
  }

  .Button-container {
    flex: 1;
    flex-direction: row;
    display: flex;
    align-items: stretch;
  }

  .Direction-button {
    align-items: center;
  }

  #Direction-image-left {
    margin-top: 0%;
    margin-left: 50%;
  }

  #Direction-image-right {
    margin-bottom: 0%;
    margin-right: 50%;
  }
}
